<!-- templates/hire_freelancer.html -->
{% extends 'base.html' %}
{% block title %}Contrate Freelancer - My Site{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h1>Olá,</h1>
            <p>Meu nome é Glauber Marques, sou um profissional especializado na área de dados, com ampla experiência em projetos de Business Intelligence (BI), análise e ciência de dados, além de automação de processos manuais. Tenho um histórico sólido de trabalho em uma grande varejista de eletrodomésticos, onde lidero projetos em diversas áreas para trazer clareza e insights acionáveis a partir dos dados.</p>
            
            <h2>Experiência Profissional</h2>
            <p>Nos últimos anos, estive à frente de iniciativas que transformaram significativamente a maneira como os dados são utilizados para tomar decisões estratégicas. Na varejista de eletrodomésticos onde trabalhei, implementei soluções de BI que otimizaram operações e melhoraram a eficiência, utilizando ferramentas como Power BI, Python e Excel. Esses projetos não só automatizaram processos anteriormente manuais, mas também proporcionaram uma nova perspectiva sobre o desempenho de vendas, inventário, atendimento ao cliente e marketing.</p>
            
            <h2>Serviços Oferecidos</h2>
            <ul>
                <li><strong>Análise e Ciência de Dados:</strong> Utilizo técnicas avançadas de análise para extrair insights valiosos dos dados, ajudando empresas a tomar decisões informadas.</li>
                <li><strong>Business Intelligence:</strong> Desenvolvimento de dashboards e relatórios interativos que transformam dados brutos em informações claras e acionáveis.</li>
                <li><strong>Automação de Processos:</strong> Implementação de scripts e ferramentas que reduzem o esforço manual e aumentam a eficiência operacional.</li>
                <li><strong>Machine Learning:</strong> Criação de modelos preditivos e de aprendizado de máquina para solucionar problemas complexos e prever tendências futuras.</li>
            </ul>
            
            <h2>Como Posso Ajudar</h2>
            <p>Utilizando metodologias ágeis e um enfoque centrado no cliente, posso:</p>
            <ul>
                <li><strong>Identificar Necessidades e Objetivos:</strong> Trabalho com você para entender suas necessidades específicas e definir metas claras.</li>
                <li><strong>Desenvolver Soluções Personalizadas:</strong> Crio soluções de dados sob medida, utilizando as melhores práticas e ferramentas mais adequadas.</li>
                <li><strong>Implementar e Testar:</strong> Garanto que as soluções sejam implementadas de maneira eficaz e testadas exaustivamente para assegurar qualidade e precisão.</li>
                <li><strong>Treinamento e Suporte:</strong> Ofereço treinamento e suporte contínuo para garantir que você e sua equipe aproveitem ao máximo as ferramentas desenvolvidas.</li>
            </ul>
            
            <p>Estou disponível para discutir como posso ajudar sua empresa a extrair o máximo valor dos seus dados. Se você está procurando um profissional dedicado e experiente para realizar trabalhos de análise de dados, BI, automação de processos ou machine learning, entre em contato comigo para mais informações.</p>
            <p>Vamos juntos transformar seus dados em um ativo estratégico poderoso!</p>
            
            <p>Atenciosamente,<br>
            Glauber Marques<br>
            <a href="mailto:glauberm70@gmail.com">glauberm70@gmail.com</a><br>
            <a href="tel:+5511993771612">55-11-993771612</a><br>
            <a href="https://www.linkedin.com/in/glauber-marques-22297738/">LinkedIn</a></p>
        </div>
        <div class="col-md-4">
            <!-- Aqui você pode adicionar uma imagem ou outras informações relevantes -->
        </div>
    </div>
</div>
{% endblock %}
