<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Home - My Site{% endblock %}
{% block content %}
<div class="jumbotron" style="background-image: url('/static/img/Apresentação1.jpg');">
    <div class="container">
        <h1 class="display-4 text-white">Dev Insights & Articles!</h1>
        <p class="lead text-white">Aqui você encontra artigos sobre Análise de Dados e RPA.</p>
        <hr class="my-4">
        <p class="text-white">Explore nossos conteúdos e fique atualizado com as últimas tendências.</p>
        <a class="btn btn-primary btn-lg" href="/all_articles" role="button">Saiba mais</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Análise de Dados</h2>
        <p>Confira os artigos mais recentes sobre Análise de Dados.</p>
        <a class="btn btn-secondary" href="/analysis">Ver mais</a>
    </div>
    <div class="col-md-6">
        <h2>RPA</h2>
        <p>Explore as últimas novidades em Automação de Processos Robóticos.</p>
        <a class="btn btn-secondary" href="/rpa">Ver mais</a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <h2>Contrate Freelancer</h2>
        <p>Conheça meus serviços como freelancer especializado em dados.</p>
        <a class="btn btn-primary" href="/contrate_freelancer">Saiba mais</a>
    </div>
</div>
{% endblock %}
